.venv/
venv/
env/
ENV/

*.pyc           
*.pyo 
*.pyd
__pycache__/
*.sqlite3

*.env
.env.*
.DS_Store
.idea/
.vscode/
*.log
*.bak
*.swp

db.sqlite3
media/
staticfiles/
node_modules/
tmp/
*.tmp
*.pid

.coverage
htmlcov/
.tox/
nosetest.xml
coverage.xml
*.cover
*.py,cover         
*.db

Thumbs.db
*.orig
*.rej
*.swo
*.swp
*.swn
*.bak
*.old

*.code-workspace
*.sublime-project
*.sublime-workspace

*.so
*.dll
*.exe
*.out
*.o

*.tar
*.zip
*.7z
*.gz
*.rar 
*.bak
*.tmp

secret_key.txt
config.json
settings_local.py

.ipynb_checkpoints/
data/pretty/
